.imageBox {
  background-color: gray;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
//  min-height: 600px;

}

.videoBox {
  border: none;
  outline: none;
//  padding: 20px;
  background-color: black;
  text-align: center;
}

.video {
  width: 100%;
  height: 500px;
}