.box {
  padding: 1.5rem;
}

.avatarBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 100%;
  height: auto;
}

.userInfoBox {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}